.ingrid{
    margin-top: 65px;
}
.span{
    margin-top: 20px;
    margin-left: 120px;
    font-size: 30px;
 
}
span{
    position: relative;
    margin-bottom: 10px;
}
input[type=checkbox]{
    
font-size: 60px;
transform: scale(1.5);
width: 1em;

}
b{
    display: block;
    position: relative;
    width: 80%;
    line-height: 20px;
    font-size: 20px;
    height: 10%;
    
    margin-left: 120px;
}
.goback{
    font-size: 30px;
}
P{
    color: brown;
    font-weight: 600;
}